<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>National Household Survey 2017</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" media="screen">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">  
      <a class="navbar-brand" href="/"> &nbsp;&nbsp;d5Survey&nbsp;&nbsp;</a>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a</li>
          <li class="nav-item"><a class="nav-link" href="/map">Map</a</li>
          <li class="nav-item"><a class="nav-link" href="/rent">Rent</a></li>
          <li class="nav-item active"><a class="nav-link" href="/service">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="/literacy">Literacy</a></li>
        </ul>
      </div>
    </nav>
    <p></p><p></p>
    <h3 class="text-center">National Household Survey 2017</h3>
    <div class="row">
       <div class="col-md-12 col-lg-12">
          <div class="text-right"><a href="/servicesByState/c/count">Get data</a></div>
           <h5 class="text-center text-info">Megalopolis Services by Socioeconomic Stratum</h5><p></p>
       </div>
    </div>

    <div class="row">
       <div class="col-md-12 col-lg-12 text-center"><p></p><p></p>
          <a class="btn btn-outline-primary" href="#" role="button" onclick="updateServices('all')">All</a>
          <a class="btn btn-outline-warning" href="#" role="button" onclick="updateServices('low')">Low</a>
          <a class="btn btn-outline-info" href="#" role="button" onclick="updateServices('mdlow')">Medium low</a>
          <a class="btn btn-outline-secondary" href="#" role="button" onclick="updateServices('mdhigh')">Medium high</a>          
          <a class="btn btn-outline-success" href="#" role="button" onclick="updateServices('high')">High</a>
      </div>
    </div>
    <div class="row">
     <div class="col-md-12 col-lg-12 text-center">
       <div class="custom-control custom-switch"><p></p><p></p>
          <label>
              <span id="txtn" class="text-secondary font-weight-bold">Number of Living Spaces &nbsp; 
                  &nbsp; &nbsp; &nbsp; &nbsp;

              </span>
          </label>        
         <input type="checkbox" class="custom-control-input" id="bypercent" checked="">
           <label class="custom-control-label" for="bypercent">
              <span id="txtp" class="text-info font-weight-bold ">Percent</span> 
          </label>
       </div>
     </div>
   </div>
   <p></p>   
    <div class="row text-left">
        <div class="col-md-12 col-lg-5">
        <p class="text-info font-weight-bold text-center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Megalopolis</p>  
        <div id="percServ"></div>
      </div>
      <div class="col-md-10 col-lg-5 text-center">
        <p class="text-info font-weight-bold">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; By State</p>  
        <div id="stateServ"></div>
     </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.3.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dimple/2.3.0/dimple.latest.js"></script>
  <script src="{{ url_for('static', filename='js/services.js') }}"></script>

</body>
</html>
